.note-table {
  max-width: 100%;
  width: 100%;
  tbody {
    tr {
      cursor: pointer;

      .index {
        max-width: 10%;
      }

      .title {
        max-width: 25%;
      }

      .content {
        max-width: 25%;
        div {
          max-width: 200px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .updated {
        max-width: 25%;
      }

      .actions {
        max-width: 15%;
      }
    }
  }
}
