.center-content.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
