body {
  margin: 0;
  font-family: "Geneva CY",	"DejaVu Sans", Sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ebeff2;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;

  #root {
    min-height: 100vh;
    min-width: 100vw;
  }

  /*Custom scroll start*/
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--header-color);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--header-color-dark);
  }
  /*Custom scroll end*/

  .align-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
