.loader{
  .pageBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 10000;
    background-color: #000;
  }
  .circle {
    position: fixed;
    top: calc(40vh + 60px);
    left: calc(50vw - 20px);
    z-index: 10001;
  }
}